{% extends "catalog.html" %}
{% load i18n %}
{% load catalog_filters %}

{% block content %}
<table id="shopping_cart">
	<caption>{% trans "Your Shopping Cart" %}</caption>
	<thead>
		<tr>
			<th scope="col">{% trans "Product" %}</th>
			<th scope="col">{% trans "Price" %}</th>
			<th></th>
			<th></th>
			<th></th>
			<th scope="col" class="right">{% trans "Total" %}</th>
		</tr>
	</thead>
	<tbody>
		{% if cart_items %}
			{% for item in cart_items %}
		<tr>
			<td>
				<a href="{{ item.get_absolute_url }}" class="cart">
				{{ item.name }}
				</a>
			</td>
			<td>
				$ {{ item.price }}
			</td>
			<td class="right">
				<form method="post" action="." class="cart">{% csrf_token %}
					<label for="quantity">{% trans "Quantity" %}:</label>
					<input type="text" name="quantity" value="{{ item.quantity }}" id="quantity" size="2" class="quantity" maxlength="5" />
					<input type="hidden" name="item_id" value="{{ item.id }}" />
				</td>
				<td>
					<input type="submit" name="submit" value="{% trans "Update" %}" />
				</form>
			</td>
			<td>
				<form action="." method="post" class="cart">{% csrf_token %}
					<input type="hidden" name="item_id" value="{{ item.id }}" />
					<input type="submit" name="submit" value="{% trans "Remove" %}" />
				</form>
			</td>
			<td class="right">$ {{ item.total }}</td>
		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<td colspan="6" style="height:30px;">
				{% trans "Your cart is empty" %}
			</td>
		</tr>
		{% endif %}
	</tbody>
	<tfoot>
		<tr>
			<th class="right" colspan="5">{% trans "Cart Subtotal" %}:</th>
			<th class="right">$ {{ cart_subtotal }}</th>
		</tr>
		{% if cart_items %}
		<tr>
			<th class="right" collspan="6">
				<a href="/urltochekout/">
					{% trans "Checkout Now" %}
				</a>
			</th>
		</tr>
		{% endif %}
	</tfoot>
</table>
{% endblock %}
