{% extends "catalog.html" %}
{% load i18n %}

{% block content %}
	<h2>{% trans "Welcome to our shop!" %}</h2>
  {% if news %}
    <div class="breadcrumb"><h3>{% trans "News" %}</h3></div>
    <div class="well">
    {% for n in news %}
      <h4><a href="{{ n.get_absolute_url }}">{{ n.header }}</a></h4>
      <i class="icon-time"></i>&nbsp;{{ n.created|date:"h:m, j F Y" }}<br />
      <div class="alert alert-info">
      {{ n.body|safe }}</div>
    {% endfor %}
    </div>
  {% endif %}
  {% if products %}
    <h3><div class="breadcrumb">{% trans "Feautured products" %}</div></h3><br />
    {% for p in products %}
      <div class="product_thumbnail">
        <a href="{{ p.get_absolute_url }}">
          <img src="{{ p.image_url }}"
               alt="{{ p.name }}" />
          <br />
          {{ p.name }}
          </a>
          <br />
          {{ p.price }} руб.
      </div>
    {% endfor %}
  {% else %}
    {% trans "Feautured products not found" %}
  {% endif %}
  <br /><br />
{% endblock %}
