{% extends "catalog.html" %}
{% load i18n %}
{% load catalog_filters %}

{% block content %}
  <div class="row-fluid">
    <div class="span4">
      <div align="center">
        <img src="{{ product_image.url }}" alt="{{ p.name }}" />
      </div>
    </div>
    <div class="span6">
      <h1>{{ p.name }}</h1>
      {% trans "Brand" %}: <em>{{ p.brand }}</em>
      <br /><br />
	    {% trans "SKU" %}: {{ p.sku }}
	    <br />
      {# Переписать V #}
      {% blocktrans count counter=categories|length %}
        In category:
      {% plural %}
        In categories:
      {% endblocktrans %}
      {% for c in categories %}
        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        {% if not forloop.last %}, {% endif %}
      {% endfor %}
      <br /><br />
      {% if p.sale_price %}
        {% trans "Was" %}: {{ p.old_price }} {% trans "руб." %}
        <br />
        {% trans "Now" %}: {{ p.price }} {% trans "руб." %}
      {% else %}
        {% trans "Price" %}: {{ p.price }} {% trans "руб." %}
      {% endif %}
      <br /><br />
      <form method="post" action="." class="cart">{% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="{% trans "Add To Cart" %}"
               name="submit" alt="{% trans "Add To Cart" %}" />
      </form>
    </div>
  </div>
  <div class="tabbable">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#description" data-toggle="tab">{% trans "Description" %}</a></li>
      <li><a href="#characteristics" data-toggle="tab">{% trans "Characteristics" %}</a></li>
      <li><a href="#feedback" data-toggle="tab">{% trans "Feedback" %}</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="description">{{ p.description }}</div>
      <div class="tab-pane" id="characteristics">
        <div class="row-fluid">
          <div class="span5">
            {% if characteristics %}
              <table class="table table-striped table-bordered table-condensed">
              <caption>{% trans "Product characteristics" %}</caption>
                <thead>
                <tr>
                  <th><b>{% trans "Characteristic" %}</b></th>
                  <th>{% trans "Value" %}</th>
                </tr>
                <tbody>
                  {% for characteristic in characteristics %}
                    <tr>
                    <th>{{ characteristic.characteristic_type }}</th>
                    <th>{{ characteristic.value }}</th>
                  </tr>
                  {% endfor %}
                </tbody>
              </thead>
            </table>
            {% else %}
              {% trans "Characteristics not specified" %}
            {% endif %}
          </div>
         </div>
      </div>
      <div class="tab-pane" id="feedback">Feedback... TODO</div>
    </div>
  </div>
<br /><br />
{% endblock %}
