/* стили для страницы категории */
div.product_thumbnail{
    text-align: center;
    float: left;
    width: 100 px;
    height: 100 px;
}

/* стили для страницы товаров */
div.product_image{
    float:left;
    padding: 0 10px 10px 0;
}
