{% extends "base.html" %}
{% load i18n %}
{% load catalog_tags %}

{% block site_wrapper %}
	<div id="main">
		<a href="#content" class="skip_link">{% trans "Skip to main content" %}</a>
		<div id="banner">
			<div class="bannerIEPadder">
				<div class="cart_box">
					{% cart_box request %}
				</div>
				<a href="{% url catalog_home %}">{% trans "Internet magazine" %}</a>
			</div>
		</div>
		<div id="navigation">
			<div class="navIEPadder">
				{% include 'tags/navigation.html' %}
			</div>
		</div>
		<div id="middle">
			<div id="sidebar">
				<div class="sidebarIEPadder">
					[search box here]
					<br />
					{% category_list request.path %}
				</div>
			</div>
			<div id="content">
				<a name="content"></a>
				<div class="contentIEPadder">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="footerIEPadder">
				{% footer_links %}
			</div>
		</div>
	</div>
{% endblock %}